.caractere {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    .wrapper {
        height: 100%;
    }

    .caractere-container {
        position: relative;
        height: 100%;
        width: 100%;

        h2 {
            position: absolute;
            top: 10%;
            left: 0;
            margin: 0;
            color: transparent !important;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: var(--color-white);
        }
    }

    .caractere-mots {
        position: absolute;
        font-size: var(--font-size-spanBSpray);
        opacity: 0;
        font-family: var(--font-secondary);
        &.mot-1 {
            top: 30%;
            left: 10%;
            color: var(--color-primary);
        }

        &.mot-2 {
            top: 50%;
            right: 10%;
            color: transparent;
            -webkit-text-stroke: 2px var(--color-black);
        }

        &.mot-3 {
            top: 70%;
            left: 10%;
            color: var(--color-primary);
        }
    }
}
