.section__competences {
    h2 {
        padding-bottom: 75px;
    }
    @media screen and (max-width: $breakpoint-md) {
        h2 {
            padding-bottom: 0;
        }
    }
    @media screen and (max-width: $breakpoint-ml) {
        h2 {
            padding-bottom: 0;
        }
    }
}

.competences__container {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    height: 100%;
    padding: var(--spacing-lg) 0;
    @media screen and (max-width: $breakpoint-lg) {
        grid-template-columns: 40% 60%;
    }
    @media screen and (max-width: $breakpoint-ml) {
        grid-template-rows: 1fr;
        grid-template-columns: 100%;
        gap: var(--spacing-lg);
        padding: 0;
    }
}

.competences__list {
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.competences__medias {
    height: 100%;
    width: 100%;
    position: relative;
    padding-top: 75px;

    img {
        position: absolute;
        width: auto;
        height: 55vh;
        border-radius: 2px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
        aspect-ratio: 1/1;
        &:nth-child(1) {
            left: 30%;
            bottom: -30%;
            z-index: 2;
            @media screen and (max-width: $breakpoint-lg) {
                left: 30%;
                bottom: 0%;
            }
        }

        &:nth-child(2) {
            right: 0%;
            top: -20%;
            z-index: 1;
            @media screen and (max-width: $breakpoint-lg) {
                top: -10%;
            }
        }
        @media screen and (max-width: $breakpoint-ml) {
            position: static;
        }
    }
    @media screen and (max-width: $breakpoint-lg) {
        padding-top: 0;
        img {
            width: auto;
            height: 35vh;
        }
    }

    @media screen and (max-width: $breakpoint-ml) {
        display: flex;
        padding-top: 0;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        img {
            width: auto;
            height: 45vh;
        }
    }
    @media screen and (max-width: $breakpoint-md) {
        img {
            height: 40vh;
        }
    }
    @media screen and (max-width: 870px) {
        img {
            width: 100%;
            height: auto;
            &:nth-child(2) {
                display: none;
            }
        }
    }
}
