.section__competences {
    h2 {
        padding-bottom: 75px;
    }
    @media screen and (max-width: $breakpoint-md) {
        h2 {
            padding-bottom: 0;
        }
    }
    @media screen and (max-width: $breakpoint-ml) {
        h2 {
            padding-bottom: 0;
        }
    }
}

.competences__container {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    height: 100%;
    padding: var(--spacing-lg) 0;
    @media screen and (max-width: $breakpoint-lg) {
        grid-template-columns: 40% 60%;
    }
    @media screen and (max-width: $breakpoint-ml) {
        grid-template-columns: 1fr 1fr;

        gap: var(--spacing-lg);
        padding: 0;
    }
    @media screen and (max-width: $breakpoint-md) {
        grid-template-columns: 1fr;

        gap: var(--spacing-lg);
        padding: 0;
    }
}

.competences__list {
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    @media screen and (max-width: $breakpoint-md) {
        grid-template-columns: 1fr 1fr;
        display: grid;
        gap: var(--spacing-md);
    }
}

.competences__medias {
    height: 100%;
    width: 100%;
    position: relative;
    padding-top: 75px;

    img {
        position: absolute;
        width: auto;
        height: 55vh;
        width: 30vw;

        border-radius: 2px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
        aspect-ratio: 1/1;
        &:nth-child(1) {
            left: 15%;
            bottom: -30%;
            z-index: 2;
            @media screen and (max-width: $breakpoint-lg) {
                left: 10%;
                bottom: 0%;
            }
        }

        &:nth-child(2) {
            right: 0%;
            top: -20%;
            z-index: 1;
            @media screen and (max-width: $breakpoint-lg) {
                top: -10%;
            }
        }
        @media screen and (max-width: $breakpoint-md) {
            position: static;
        }
    }
    @media screen and (max-width: $breakpoint-lg) {
        padding-top: 0;
        img {
            width: auto;
            height: 45vh;
        }
    }

    @media screen and (max-width: $breakpoint-ml) {
        display: flex;
        flex-direction: column;
        padding-top: 0;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        img {
            width: auto;
            height: 35vh;
        }
    }
    @media screen and (max-width: $breakpoint-md) {
        flex-direction: row;
        img {
            height: 40vh;
            width: 40vw;
        }
    }
    @media screen and (max-width: 870px) {
        img {
            width: 100%;
            height: auto;
            &:nth-child(2) {
                display: none;
            }
        }
    }
}
.sections__logiciel {
    ul {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: var(--spacing-md, 1rem);
        list-style: none;
        padding: 0;
        margin: 0;

        @media screen and (max-width: 1024px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media screen and (max-width: 500px) {
            grid-template-columns: repeat(4, 1fr);
            gap: var(--spacing-sm);
            row-gap: var(--spacing-md);
        }
    }

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1 / 1;
        border: 3px solid var(--color-white);
        border-radius: 10px;
        padding: var(--spacing-xs);
        color: var(--color-white);

        @media screen and (max-width: 800px) {
            border-width: 2px;
        }
    }

    svg {
        width: 60%;
        height: 60%;
    }
}
