.interets {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0;
    box-sizing: border-box;
    overflow: hidden;

    .wrapper {
        padding-left: 0;
    }

    .interets__title {
        font-size: var(--font-size-spanBSpray);
        color: var(--color-primary);
        margin: 0;
        text-transform: uppercase;
        font-weight: 700;
    }

    .interets__container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-grow: 1;
    }

    .marquee {
        display: flex;
        width: 100%;

        user-select: none;

        .marquee__track {
            display: flex;
            flex-shrink: 0;
            white-space: nowrap;
            gap: var(--spacing-md);
            padding-right: var(--spacing-md);

            font-size: var(--font-size-spanB);

            line-height: 1;

            span {
                display: inline-block;

                &.filled.green {
                    color: #80c200;
                }
                &.outline.green {
                    color: transparent;
                    -webkit-text-stroke: 2px #80c200;
                }

                &.filled.dark {
                    color: var(--color-black);
                }
                &.outline.dark {
                    color: transparent;
                    -webkit-text-stroke: 2px var(--color-black);
                }
            }
        }

        &.marquee--left .marquee__track {
            animation: marqueeLeft 20s linear infinite;
        }

        &.marquee--right .marquee__track {
            animation: marqueeRight 20s linear infinite;
        }
    }
}
@keyframes marqueeLeft {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes marqueeRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}
