.interets {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: var(--spacing-lg);
    overflow: hidden;

    h2 {
        color: transparent;
        -webkit-text-stroke: 2px var(--color-black);
    }

    .interets__container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-grow: 1;
    }

    .marquee {
        display: flex;
        width: 100%;
        user-select: none;
        .marquee__track {
            display: flex;
            flex-shrink: 0;
            gap: var(--spacing-md);
            padding-right: var(--spacing-md);
            font-size: var(--font-size-spanBSpray);
            font-family: var(--font-secondary);
            span {
                &.filled.green {
                    color: var(--color-primary);
                }
                &.outline.green {
                    color: transparent;
                    -webkit-text-stroke: 2px var(--color-primary);
                }

                &.filled.dark {
                    color: var(--color-black);
                }
                &.outline.dark {
                    color: transparent;
                    -webkit-text-stroke: 2px var(--color-black);
                }
            }
        }

        &.marquee--left .marquee__track {
            animation: marqueeLeft 20s linear infinite;
        }

        &.marquee--right .marquee__track {
            animation: marqueeRight 20s linear infinite;
        }
    }
}
@keyframes marqueeLeft {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes marqueeRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}
