.line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .line__inner {
        display: inline-block;
        height: 0;
        border-top: var(--line-height) solid var(--color-white);
        border-radius: 5px;
        &:nth-child(1) {
            width: 5%;
        }
        &:nth-child(2) {
            width: 20%;
        }
        &:nth-child(3) {
            width: 20%;
        }
        &:nth-child(4) {
            width: 10%;
        }
    }
}
.projets {
    --line-height: 6px;

    .line__inner {
        border-top: var(--line-height) solid var(--color-primary);
        border-radius: 0;
    }

    .projets__container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-lg);

        h1 {
            margin: 0;
        }
    }
}
