/* ==========================================================================
   BODY / ELEMENT
   Le body permet d'initialiser les propriétés générales de la page.
   Les éléments de la page vont hérités des propriétés inscrite dans body
   ========================================================================== */
html {
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg-primary);
    color: var(--color-black);
    font-family: var(--font-primary);
    font-size: var(--font-size-p);
    line-height: 50px;
}
.video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 99;
    opacity: 0.05;
}
.noise {
    display: none;
}
.noise-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 15;
    pointer-events: none;
    filter: url(#blackNoise);
}
.highlight {
    color: var(--color-primary);
    font-weight: 800;
}
