/* ==========================================================================
   BODY / ELEMENT
   Le body permet d'initialiser les propriétés générales de la page.
   Les éléments de la page vont hérités des propriétés inscrite dans body
   ========================================================================== */
html {
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg-primary);
    color: var(--color-black);
    font-family: var(--font-secondary);
    font-size: var(--font-size-content);
    line-height: 1.6;
}
.noise-overlay {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 10;
    opacity: 0.32; /* Opacité : 32% */
    filter: url(#blackNoise);
}
.noise-creation {
    display: none;
}
