/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fafafa;
    --color-black: #2a2a2a;
    --color-primary: #84cc16;
    --color-bg-primary: var(--color-black);
    --color-bg-secondary: var(--color-white);
}
