/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'JetBrains Mono', monospace;
    --font-secondary: 'Sedgwick Ave Display', cursive;

    /// Grosseur des textes
    --font-size-h1: #{typo(64px, 96px)};
    --font-size-h2: #{typo(24px, 48px)};
    --font-size-h3: #{typo(18px, 32px)};
    --font-size-h4: #{typo(16px, 24px)};

    --font-size-p: #{typo(16px, 32px)};
    --font-size-p2: #{typo(40px, 64px)};
    --font-size-footer: #{typo(13px, 18px)};

    --font-size-link: #{typo(18px, 24px)};
    --font-size-linkB: #{typo(32px, 48px)};
    --font-size-btn: #{typo(24px, 32px)};
    --font-size-brand: #{typo(48px, 64px)};

    --font-size-spanB: #{typo(45px, 84px)};
    --font-size-spanBSpray: #{typo(48px, 96px)};

    --font-size-contact: #{typo(27px, 36px)};
}
