.separateur__header {
    padding-top: 150px;
    @media screen and (max-width: 800px) {
        padding-top: 120px;
    }
}
.separateur {
    padding-top: 150px;
    @media screen and (max-width: $breakpoint-md) {
        padding-top: 75px;
    }
}
.separateur__competences {
    padding-top: var(--spacing-xl);
    @media screen and (max-width: $breakpoint-lg) {
        padding-top: 38px;
    }
}
