{% include '_partials/_header.html' %}
<div class="separateur__header"></div>
<section class="hero">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/herotemp.png" alt="hero" />
        </div>
        <div class="hero__content">
            <div class="hero__title">
                <h1>Marcos</h1>
                <h1>Sosa</h1>
                <h1>Silva</h1>
            </div>
            <div class="title__under">
                <h1>Marcos</h1>
                <h1>Sosa</h1>
                <h1 class="Silva">Silva</h1>
            </div>

            <h2>Designer Ui</h2>
            <div class="hero__sous-titre">
                <p class="small">Défilez vers le bas</p>
            </div>
        </div>
    </div>
</section>
{% include '_partials/_footer.html' %}
