{% include '_partials/_header.html' %}

<div class="separateur__header"></div>
<section class="hero">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/herotemp.png" alt="hero" />
        </div>
        <div class="hero__content">
            <div class="hero__title">
                <h1>Marcos</h1>
                <h1>Sosa</h1>
                <h1>Silva</h1>
            </div>
            <div class="title__under">
                <h1>Marcos</h1>
                <h1>Sosa</h1>
                <h1 class="Silva">Silva</h1>
            </div>

            <h2>Designer Ui</h2>
            <div class="hero__sous-titre">
                <p class="small">Défilez vers le bas</p>
            </div>
        </div>
    </div>
</section>
<div class="separateur"></div>
<section class="hero__under">
    <div class="wrapper">
        <p>
            Je suis une personne qui aime
            <span class="highlight">le design</span>
            et qui peut aussi se débrouiller dans
            <span class="highlight">l'intégration web.</span>
            Je suis particulièrement motivée par l'apprentissage continu et le travail d'équipe. Je m'adapte très rapidement à de nouveaux environnements et
            outils.
        </p>
    </div>
</section>
<div class="separateur"></div>

<section class="section__competences">
    <div class="wrapper">
        <h2>Mes Compétences</h2>
        <div class="competences__container">
            <ul class="competences__list">
                <li>Design web</li>
                <li>Design UI/UX</li>
                <li>Design graphique</li>
                <li>Intégration web</li>
                <li>Intégration wordpress</li>
                <li>Création vidéo</li>
            </ul>

            <div class="competences__medias">
                <img src="assets/images/competences.png" alt="competences" />
                <img src="assets/images/competences2.png" alt="competences" />
            </div>
        </div>
    </div>
</section>
<div class="separateur__competences"></div>
<div class="separateur__competences"></div>
<section class="sections__logiciel">
    <div class="wrapper">
        <ul>
            <li>
                <svg class="icon icon--sm">
                    <use href="#icon-figma"></use>
                </svg>
            </li>
            <li>
                <svg class="icon icon--sm">
                    <use href="#icon-javascript"></use>
                </svg>
            </li>
            <li>
                <svg class="icon icon--sm">
                    <use href="#icon-css"></use>
                </svg>
            </li>
            <li>
                <svg class="icon icon--sm">
                    <use href="#icon-php"></use>
                </svg>
            </li>
            <li>
                <svg class="icon icon--sm">
                    <use href="#icon-github"></use>
                </svg>
            </li>

            <li>
                <svg class="icon icon--sm">
                    <use href="#icon-illustrator"></use>
                </svg>
            </li>
            <li>
                <svg class="icon icon--sm">
                    <use href="#icon-photoshop"></use>
                </svg>
            </li>
            <li>
                <svg class="icon icon--sm">
                    <use href="#icon-aftereffects"></use>
                </svg>
            </li>
        </ul>
    </div>
</section>
<div class="separateur"></div>
{% include '_partials/_footer.html' %}
